# ==========================
# Entornos virtuales
# ==========================
.venv/
venv/
env/

# ==========================
# Cache de Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ==========================
# Variables de entorno y secretos
# ==========================
.env
.env.local

# ==========================
# Archivos temporales
# ==========================
*.log
*.tmp
*.temp

# ==========================
# Archivos del sistema operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Dataset procesado pesado
# No se suben las imágenes generadas.
# Cada integrante debe generarlas con:
# python scripts/prepare_hf_dataset.py --image-column image --name-column name --category-column subcategory --no-streaming --clean-output
# ==========================
datasets/processed/train/
datasets/processed/validation/
datasets/processed/test/
datasets/processed/otros/

# ==========================
# Cache de Hugging Face u otros procesos
# ==========================
.cache/
huggingface_cache/

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Archivos de IDE/editor
# ==========================
.vscode/
.idea/

# ==========================
# Modelo entrenado grande
# Cada integrante puede generarlo con:
# python scripts/train_model.py
# ==========================
trained_models/product_classifier.keras