pillow
scikit-learn
pandas
tqdm
onnxruntime
matplotlib
numpy
flask
flask-cors
streamlit
requests
psycopg2-binary
python-dotenv
openpyxl
reportlab

# --- Solo para entrenamiento y exportación del modelo ---
# tensorflow
# tf2onnx
# datasets
